header{
  background-color: var(--darker-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 16px 0;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-left: 16px;
  border-radius: 5px;
}

li a{ 
  border-radius: 5px;
}

.active {
  background-color: var(--background-color);
}

.disabled{
  color: #4b4a4d;
}

header > h1 { 
  margin-right: auto;
}