.list-container{
  width: 100%;
  background-color: #4b4a4d;
}

.btn-left{
  float: left;
}

.btn-right{
  margin-right: 36px;
  float: right;
}

button{
  background-color: #4b4a4d;
  color: white;
  height: 36px;
  width: 36px;
  border: none;
  position: absolute;
  bottom: 2vh;
}

button:disabled{
  display: none;
}

button:hover{
  background-color: #19181b;
}



