:root{
  --background-color: #2c2b2e;
  --darker-color: #19181b;
  --lighter-color: #4b4a4d;
  --accent-color: #358ec9;
}

html {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

body {
  background-color: var(--background-color);
  color: white;
}

li:not(.active) a:hover{
  background-color: black;
}

a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 24px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}
